.DS_Store
.xmake
.deps
code/.xmake
code/build
/emsdk

dist
node_modules

code/web/doc-site/docs/.vuepress/.cache
code/web/doc-site/docs/.vuepress/.temp
code/web-chameleon/deps/proj
code/chameleon/deps/proj

code/chameleon/deps/proj/oneTBB
code/chameleon/deps/proj/freetype
code/chameleon/deps/proj/bullet3
code/chameleon/deps/proj/PrusaSlicer
