:root {
    --font: Inter,Apple System,"SF Pro SC","SF Pro Display","Helvetica Neue","Arial","PingFang SC","Hiragino Sans GB","STHeiti","Microsoft YaHei","Microsoft JhengHei","Source Han Sans SC","Noto Sans CJK SC","Source Han Sans CN",sans-serif;

    --color-black               : #000;
    --color-white               : #fff;
    --color-pure-dark           : #000;
    --color-principal-green     : #3ecf8e;
    --color-principal-red       : #FF565E;
    --color-principal-blue      : #005DF2;
    --color-principal-purple    : #6952DC;
    --color-principal-yellow    : #FFBC25;
    --color-principal-orange    : #f79956;
    --color-lightness-green     : #86edc4;
    --color-lightness-red       : #f78a8f;
    --color-lightness-blue      : #4e8ef5;
    --color-lightness-purple    : #755FE2;
    --color-lightness-yellow    : #f7d484;
    --color-lightness-orange    : #f9b079;
    --color-darken-green        : #059554;
    --color-darken-red          : #b73c42;
    --color-darken-blue         : #0544ab;
    --color-darken-purple       : #513fac;
    --color-darken-yellow       : #c58e0c;
    --color-darken-orange       : #b45f22;
    --color-gray-0              : hsla(0, 0%, 100%, 0);
    --color-gray-5              : hsla(0, 0%, 100%, 0.05);
    --color-gray-100            : hsla(0, 0%, 100%, 0.06);
    --color-gray-200            : hsla(0, 0%, 100%, 0.08);
    --color-gray-300            : hsla(0, 0%, 100%, 0.12);
    --color-gray-400            : hsla(0, 0%, 100%, 0.18);
    --color-gray-500            : hsla(0, 0%, 100%, 0.22);
    --color-gray-900            : hsla(0, 0%, 100%, 0.9);
    --color-gray-1000           : #fff;
    --color-white-001           : rgba(255, 255, 255, .01);
    --color-white-003           : rgba(255, 255, 255, .03);
    --color-white-005           : rgba(255, 255, 255, .05);
    --color-white-006           : rgba(255, 255, 255, .06);
    --color-white-007           : rgba(255, 255, 255, .07);
    --color-white-008           : rgba(255, 255, 255, .08);
    --color-white-010           : rgba(255, 255, 255, .1);
    --color-white-015           : rgba(255, 255, 255, .15);
    --color-white-020           : rgba(255, 255, 255, .2);
    --color-white-040           : rgba(255, 255, 255, .4);
    --color-white-060           : rgba(255, 255, 255, .6);
    --color-white-070           : rgba(255, 255, 255, .7);
    --color-white-080           : rgba(255, 255, 255, .8);
    --color-white-090           : rgba(255, 255, 255, .9);
    --color-white-100           : rgba(255, 255, 255, 1);
    --text-color-white          : #fff;
    --text-color-white-010      : rgba(255, 255, 255, 0.1);
    --text-color-white-060      : rgba(255, 255, 255, 0.6);
    --text-color-white-070      : rgba(255, 255, 255, 0.7);
    --text-color-white-080      : rgba(255, 255, 255, 0.8);
    --text-color-white-090      : rgba(255, 255, 255, 0.9);
    --text-color-white-100      : rgba(255, 255, 255, 1.0);
    --color-blue-100            : #dee9fc;
    --color-blue-200            : #c3d5fa;
    --color-blue-300            : #7aa3f5;
    --color-blue-400            : #5289ff;
    --color-blue-500            : #3670f7;
    --color-blue-600            : #2b5cd9;
    --color-blue-700            : #2e55b8;
    --color-blue-800            : #2e4c99;
    --shadow-015                : 0px 0px 10px rgba(0,0,0,0.15);
    --shadow-030                : 0px 0px 10px rgba(0,0,0,0.30);
    --shadow-040                : 0px 0px 10px rgba(0,0,0,0.40);
    --shadow-050                : 0px 0px 10px rgba(0,0,0,0.50);
    --shadow-060                : 0px 0px 10px rgba(0,0,0,0.60);
    --shadow-090                : 0px 0px 10px rgba(0,0,0,0.90);
    --shadow-100                : 0px 0px 10px rgba(0,0,0,1.00);
}