body.figma {
    --color-principal                   : #1C1C1C;
    --color-abattoir-main               : #282828;
    --color-frame-border-lightness      : #656565;
    --color-bg                          : var(--color-principal);
    --color-bg-0                        : #232323;
    --color-frame-border                : #2f2f2f;
    --color-border-line                 : hsla(0, 0%, 100%, .05);
    --default-font-color                : #D1D1D1;
    --default-svg-color                 : #D1D1D1;
    --btn-bg-color                      : var(--color-white-010);
    --btn-bg-hover-color                : var(--color-white-020);
    --btn-bg-active-color               : var(--color-white-005);
    --btn-font-color                    : #fff;
    --btn-font-size-normal              : 12px;
    --btn-font-size-small               : 10px;
    --btn-border-radius                 : 4px;
    --btn-box-shadow                    : 0px 2px 8px 0px rgba(0, 0, 0, .1), 0px 1px 0px 0px var(--color-white-010) inset;
    --btn-brief-color-normal            : #fff;
    --btn-brief-color-highlight         : var(--color-principal-green);
    --btn-brief-color-selected          : var(--color-lightness-blue);
    --btn-brief-color-disable           : var(--color-gray-400);
    --alert-box-background-color        : var(--color-gray-100);
    --alert-box-border-color            : var(--color-gray-300);
    --alert-box-shadow                  : var(--shadow-060);
    --alert-box-text-color              : var(--text-color-white-100);
    --alert-box-btn-border-color        : var(--color-gray-300);
    --avatars-border-width              : 1px;
    --avatars-border-color              : var(--color-principal-green);
    --switcher-bg-color                 : #9d9d9d;
    --switcher-checked-hover-bg-color   : var(--color-blue-600);
    --slider-bg-color                   : var(--color-white-010);
    --slider-bg-hover-color             : var(--color-white-015);
    --slider-handle-bg-color            : #c1c1c1;
    --slider-handle-bg-hover-color      : #f1f1f1;
    --progress-bg-color                 : #f1f1f1;
    --progress-bar-bg-color             : #3670f7;
    --progress-circle-bg-color          : #3670f7;
    --switcher-bg-color                 : var(--color-white-020);
    --switcher-checked-bg-color         : #3ecf8e;
    --switcher-checked-hover-bg-color   : #3ecf8e;
    --icon-marker-border-color          : var(--color-white-010);
    --icon-marker-border-selected-color : var(--color-white-040);
    --arrow-placement-panel-bg-color    : #000;
    --arrow-placement-panel-shadow      : 0px 0px 10px rgba(0,0,0,0.60);

    --display-none-if-need              : none;
    --font-size-0                       : 0.68rem;
    --nav-h                             : 48px;
    --nav-btn-w                         : 46px;
    --nav-btn-h                         : 46px;
    --logo-w                            : 32px;
    --logo-h                            : 32px;
    --side-menu-avatar-w                : 24px;
    --side-menu-avatar-h                : 24px;
    --side-menu-vip-w                   : 24px;
    --side-menu-vip-h                   : 24px;
    --side-menu-icon-btn-w              : 22px;
    --side-menu-icon-btn-h              : 22px;
    --side-menu-bottom-btn-w            : 18px;
    --side-menu-btttom-btn-h            : 18px;
}